<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Matriz</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title">Matriz</h1>
    </header>
    <div class="accions">
        <div class="group">
            <h2 class="group__title">Matriz</h2>
            <div class="control">
                <input class="control__input" id="inpName"  placeholder="Nombre (MxA, mtzDet)" type="text">
                <span>
                    <input class="control__input" id="inpRows" placeholder="Filas" type="number" min="1">
                    <input class="control__input" id="inpColumns" placeholder="Columnas" type="number" min="1">
                </span>
                <label class="control__label" id="lblSave"></label>
                <button class="control__button" id="btnSave" type="button">Guardar</button>
            </div>
        </div>
        <div class="group">
            <h2 class="group__title">Suma</h2>
            <div class="control">
                <select class="control__select" id="">
                    <option value="0">Seleccione Matrices</option>
                    <option value="Mx0">MxPrimera</option>
                    <option value="Mx1">MxA</option>
                    <option value="Mx3">MxC</option>
                    <option value="Mx4">MxD</option>
                    <option value="Mx5">MxE</option>
                    <option value="Mx6">MxF</option>
                    <option value="Mx8">MxH</option>
                    <option value="Mx9">MxI</option>
                    <option value="Mx10">MxI</option>
                </select>
                <ul class="listMxsOperation">
                    <li class="listMxsOperation__item" id="Mx7">MxG<button class="listMxs__button-quit">X</button></li>
                    <hr class="line">
                    <li class="listMxsOperation__item" id="Mx2">MxB<button class="listMxs__button-quit">X</button></li>
                </ul>
                <button class="control__button" id="btnSum" type="button">Sumar</button>
            </div>
        </div>
        <div class="group">
            <h2 class="group__title">Resta</h2>
            <div class="control">
                <select class="control__select" id="">
                    <option value="0">Seleccione Matrices</option>
                    <option value="Mx0">MxPrimera</option>
                    <option value="Mx1">MxA</option>
                    <option value="Mx3">MxC</option>
                    <option value="Mx4">MxD</option>
                    <option value="Mx5">MxE</option>
                    <option value="Mx6">MxF</option>
                    <option value="Mx8">MxH</option>
                    <option value="Mx9">MxI</option>
                    <option value="Mx10">MxI</option>
                </select>
                <ul class="listMxsOperation">
                    <li class="listMxsOperation__item" id="Mx7">MxG<button class="listMxs__button-quit">X</button></li>
                    <hr class="line">
                    <li class="listMxsOperation__item" id="Mx2">MxB<button class="listMxs__button-quit">X</button></li>
                </ul>
                <button class="control__button" id="btnSubstraction" type="button">Restar</button>
            </div>
        </div>
        <div class="group">
            <h2 class="group__title">Determinante</h2>
            <div class="control">
                <label class="control__label" for="inpMxSelected-determinant">Matriz Seleccionada</label>
                <input class="control__input" id="inpMxSelected-determinant" type="text" placeholder="No hay Matriz Seleccionada" readonly>
                <label class="control__label" for="inpDeterminantResult">Determinante</label>
                <input class="control__input" id="inpDeterminantResult" type="number" value="42" readonly>
                <button class="control__button" id="btnDeterminant" type="button">Calcular Determinante</button>
            </div>
        </div>
        <div class="group">
            <h2 class="group__title">Cuadrado Mágico</h2>
            <div class="control">
                <label class="control__label" for="inpMxSelected-magicSquare">Matriz Seleccionada</label>
                <input class="control__input" id="inpMxSelected-magicSquare" type="text" value="" placeholder="No hay Matriz Seleccionada" readonly>
                <label class="control__label" id="lblMsjDeterminant"></label>
                <button class="control__button" id="btnDeterminant" type="button" disabled="true">Completar</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contrlMxs">
            <div class="listMxs">
            </div>
            <button class="control__button" id="SaveValues" disabled="true">Guardar Valores</button>
        </div>
        <div class="displayMx">
            <h2 class="displayMx__title" id="lblDisplayMx">Seleccione una Matriz</h2>
            <div class="matrix hidden" id="vlvDisplayMx">
                <input class="celda" value="1" type="number" />
                <input class="celda" value="2" type="number" />
                <input class="celda" value="3" type="number" />
                <input class="celda" value="4" type="number" />
                <input class="celda" value="5" type="number" />
                <input class="celda" value="6" type="number" />
                <input class="celda" value="7" type="number" />
                <input class="celda" value="8" type="number" />
                <input class="celda" value="9" type="number" />
                <input class="celda" value="10" type="number" />
                <input class="celda" value="11" type="number" />
                <input class="celda" value="12" type="number" />
            </div>
        </div>
    </div>
    <footer class="footer">
        <strong>Copyright 2023 | Objetos | Arquitectura MVC</strong>
    </footer>
</body>
</html>
<script type="module" src="../../controllers/matrix.controllers.js"></script>
